@charset "UTF-8";
/* Custom Fonts for the AppShell */
@font-face {
  font-family: "coolvetica rg", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
  src: url(".\fonts\coolvetica rg.otf");
}
a,
a:hover,
a:visited {
  text-decoration: none;
}
@supports (-webkit-overflow-scrolling: touch) {
  .nav-bar-main {
    position: fixed;
  }
  
  body {
    -webkit-overflow-scrolling: touch;
  }
}
.full-bleed {
  top: 0px;
  box-shadow: 0 0 0 100vmax rgba(23, 23, 26, 0.5);
  clip-path: inset(0 -100vmax);
}
#navbar.full-bleed {
  top: 0px;
  box-shadow: 0 0 0 100vmax rgba(23, 23, 26, 1);
  clip-path: inset(0 -100vmax);
}
.main-body {
  text-align: center;
  color: aliceblue;
  background-color: #282831;
}
.title-container {
  width: 100%;
  top: -10px;
  position: relative;
  display: flex;
  background-color: rgba(23, 23, 26, 0.5);
  align-items: center;
  justify-content: center;
  justify-items: left;
  align-items: center;
}
.main-header {
  justify-content: flex-start;
  position: relative;
  top: -10px;
  display: flex;
  max-width: 80rem;
  align-items: center;
  flex-direction: column;
  background: #1f1f25;
  text-align: left;
  margin-bottom: 0px;
  margin-top: 0px;
  padding-right: 45px;
}
.title-container img {
  max-width: 64px;
  max-height: 64px;
  padding-top: 1.8rem;
  padding-bottom: 1rem;
}
.main-header h1,
.main-header p {
  margin-top: 0.635rem;
  margin-bottom: 0.635rem;
}
.main-header h1 {
  padding-top: 1.3rem;
}
h1,
h2,
p {
  font-family: Arial;
}
.contact-info-form {
  display: flex;
  box-sizing: border-box;
  border: black outset 1px;
  border-radius: 1rem;
  max-width: 34.875rem;
}
.project-container {
  margin-top: 2rem;
  box-sizing: border-box;
  display: flex;
  gap: 3rem;
  flex-flow: row wrap;
  justify-content: center;
}
.project-preview {
  align-items: center;
  overflow: hidden;
  width: 21rem;
  min-height: 25rem;
  max-height: fit-content;
  border-radius: 8px;
  border-color: #000000;
  border-width: 3px;
  border-style: outset;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  overflow-wrap: normal;
}
.project-preview img {
  position: relative;
  margin-top: 5rem;
  border: #ffffff 0.5px solid;
}

.project-preview p {
  text-indent: 1rem;
  overflow-wrap: normal;
  margin-top: 15rem;
  max-width: 19rem;
}
.bigletters {
  text-transform: uppercase;
}
.MTU {
  color: #faea07;
  text-decoration: solid;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: #282831;
  max-width: 84rem;
  margin: auto 0.625rem;
  border-color: white;
  border-style: solid;
}

.nav-bar-main {
  width: 100%;
  max-width: 100%;
  max-height: 3rem;
  position: sticky;
  top: 0;
  z-index: 999;
  margin-top: -10px;
  flex: 50%;
  background-color: rgba(23, 23, 26, 1);
}

.nav-bar-item {
  font-family: Arial;
  color: #f3f3f3;
  text-align: center;
  padding: 0.3125rem 0.625rem;
  text-decoration: none;
  transition: background-color 0.25s ease-in-out;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.desc-text {
  text-align: center;
  max-width: 56.25rem;
}
.section-header {
  text-transform: uppercase;
}
.nav-bar-item:hover {
  background-color: #30303a;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .contact-form {
    max-width: 50%;
  }
}
.contact-form {
  display: flex;
}
.contact-info {
  align-items: center;
  font-size: 1rem;
  padding-left: 1rem;
}
.contact-info a {
  color: rgb(255, 255, 255);
  text-decoration: underline;
  font-weight: bold;
}
.contact-info a:hover {
  color: #5582ff;
}

.contact-info a:visited {
  color: rgb(255, 255, 255);
}
.contact-info p {
  margin-right: 1rem;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .nav-bar-main {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    max-height: none;
    margin-top: 0;
    padding: 10px 0;
  }
  
  .nav-bar-item {
    display: block;
    padding: 10px 0;
  }
}